
<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

<table border="1" class="table table-dark">
    <tr align = "center">
        <td >Nama</td>
        <td>Username</td>
        <td>Age</td>
        <td>Rombel</td>
        <td>Address</td>
        <td>City</td>
        <td>Nik</td>
        <td>Action</td>
    </tr>
    <% @students.each do |student| %>
    <tr>
      <td><%= student.nama %></td>
       <td><%= student.username %></td>
       <td><%= student.age %></td>
       <td><%= student.rombel %></td>
       <td><%= student.address %></td>
       <td><%= student.city %></td>
       <td><%= student.nik %></td>
       <td><%= link_to 'Detail', student_path(student) %>
        | <%= link_to 'Edit', edit_student_path(student) %> 
        | <%= link_to 'Delete', student_path(student), method: :delete, data: {confirm: 'are you sure?'}%></td> 
    </tr>
    <% end %>
</table>

<%= link_to "New Student", new_student_path %>
