<%= form_for(@student) do |f| %>
    <%= f.label :nama %> </br>
    <%= f.text_field :nama %> </br>

    <%= f.label :username %> </br>
    <%= f.text_field :username %> </br>

    <%= f.label :age %> </br>
    <%= f.text_field :age %> </br>

    <%= f.label :rombel %> </br>   
    <%= f.text_field :rombel %> </br> </br>

    <%= f.label :address %> </br>   
    <%= f.text_field :address %> </br> </br>

    <%= f.label :city %> </br>   
    <%= f.text_field :city %> </br> </br>

    <%= f.label :nik %> </br>   
    <%= f.text_field :nik %> </br> </br>

    <%= f.submit "Save" %> </br>
   
<% end %>