<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

nama : <%= @student.nama %> </br>
username : <%= @student.username %> </br>
age : <%= @student.age %> </br>
rombel : <%= @student.rombel %> </br>
address : <%= @student.address %> </br>
city : <%= @student.city %> </br>
nik : <%= @student.nik %> </br>
