<%= form_for(@book) do |f| %>
    <%= f.label :titlr %> </br>
    <%= f.text_field :titlr %> </br>

    <%= f.label :page %> </br>
    <%= f.text_field :page %> </br>

    <%= f.label :price %> </br>
    <%= f.text_field :price %> </br>


    <%= f.label :description %> </br>   
    <%= f.text_field :description %> </br> </br>

    <%= f.submit  %> </br>
   
<% end %>