
<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

<table border="1" class="table table-dark">
    <tr align = "center">
        <td >Title</td>
        <td>Description</td>
        <td>Action</td>
    </tr>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.titlr %></td>
       <td><%= book.description %></td>
       <td><%= link_to 'Detail', book_path(book) %>
        | <%= link_to 'Edit', edit_book_path(book) %> 
        | <%= link_to 'Delete', book_path(book), method: :delete, data: {confirm: 'are you sure?'}%></td> 
    </tr>
    <% end %>
</table>

<%= link_to "New Book", new_book_path %>
