<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

Titlr : <%= @book.titlr %> </br>
Page : <%= @book.page %> </br>
Price : <%= @book.price %> </br>
Description : <%= @book.description %> </br>
