
<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

<table border="1" class="table table-dark">
    <tr align = "center">
        <td >Nik</td>
        <td>Nama</td>
        <td>Age</td>
        <td>Kelas</td>
        <td>Mapel</td>
        <td>Action</td>
    </tr>
    <% @teachers.each do |teacher| %>
    <tr>
      <td><%= teacher.nik %></td>
       <td><%= teacher.nama %></td>
       <td><%= teacher.age %></td>
       <td><%= teacher.kelas %></td>
       <td><%= teacher.mapel %></td>
       <td><%= link_to 'Detail', teachers_path(teacher) %>
        | <%= link_to 'Edit', edit_teacher_path(teacher) %> 
        | <%= link_to 'Delete', teacher_path(teacher), method: :delete, data: {confirm: 'are you sure?'}%></td> 
    </tr>
    <% end %>
</table>

<%= link_to "New Teacher", new_teacher_path %>
