<%= form_for(@teacher) do |f| %>
    <%= f.label :nik %> </br>
    <%= f.text_field :nik %> </br>

    <%= f.label :nama %> </br>
    <%= f.text_field :nama %> </br>

    <%= f.label :age %> </br>
    <%= f.text_field :age %> </br>

    <%= f.label :kelas %> </br>   
    <%= f.text_field :kelas %> </br> </br>

    <%= f.label :mapel %> </br>   
    <%= f.text_field :mapel %> </br> </br>

    <%= f.submit "save" %> </br>
   
<% end %>