<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

nik : <%= @teacher.nik %> </br>
nama : <%= @teacher.nama %> </br>
age : <%= @teacher.age %> </br>
kelas : <%= @teacher.kelas %> </br>
mapel : <%= @teacher.mapel %> </br>
