<%= form_for(@payment) do |f| %>
    <%= f.label :id_trassaction %> </br>
    <%= f.text_field :id_trassaction %> </br>

    <%= f.label :status %> </br>
    <%= f.text_field :status %> </br>

    <%= f.label :upload %> </br>
    <%= f.text_field :upload %> </br>

    <%= f.submit  %> </br>
   
<% end %>