
<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

<table border="1" class="table table-dark">
    <tr align = "center">
        <td >ID Trassaction</td>
        <td>Status</td>
        <td>Upload</td>
        <td>Action</td>
    </tr>
    <% @payments.each do |payment| %>
    <tr>
      <td><%= payment.id_trassaction %></td>
       <td><%= payment.status %></td>
       <td><%= payment.upload %></td>
       <td><%= link_to 'Detail', payment_path(payment) %>
        | <%= link_to 'Edit', edit_payment_path(payment) %> 
        | <%= link_to 'Delete', payment_path(payment), method: :delete, data: {confirm: 'are you sure?'}%></td> 
    </tr>
    <% end %>
</table>

<%= link_to "New Payment", new_payment_path %>
