<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

id_trassaction : <%= @payment.id_trassaction %> </br>
status : <%= @payment.status %> </br>
upload : <%= @payment.upload %> </br>
