
<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

<table border="1" class="table table-dark">
    <tr align = "center">
        <td >Title</td>
        <td>Mapel</td>
        <td>Duration</td>
        <td>Nilai</td>
        <td>Status</td>
        <td>Level</td>
        <td>Student ID</td>
        <td>Action</td>
    </tr>
    <% @exams.each do |exam| %>
    <tr>
      <td><%= exam.title %></td>
       <td><%= exam.mapel %></td>
       <td><%= exam.duration %></td>
       <td><%= exam.nilai %></td>
       <td><%= exam.status %></td>
       <td><%= exam.level %></td>
       <td><%= exam.student_id %></td>
       <td><%= link_to 'Detail', exam_path(exam) %>
        | <%= link_to 'Edit', edit_exam_path(exam) %> 
        | <%= link_to 'Delete', exam_path(exam), method: :delete, data: {confirm: 'are you sure?'}%></td> 
    </tr>
    <% end %>
</table>

<%= link_to "New Exam", new_exam_path %>
