<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

Title : <%= @book.title %> </br>
Mapel : <%= @book.mapel %> </br>
Duration : <%= @book.duration %> </br>
Description : <%= @book.description %> </br>
