<%= form_for(@report) do |f| %>
    <%= f.label :title %> </br>
    <%= f.text_field :title %> </br>

    <%= f.label :hasil %> </br>
    <%= f.text_field :hasil %> </br>

    <%= f.label :mapel %> </br>
    <%= f.text_field :mapel %> </br>

    <%= f.label :teacher_id %> </br>   
    <%= f.text_field :teacher_id %> </br> </br>

    <%= f.label :student_id %> </br>   
    <%= f.text_field :student_id %> </br> </br>

    <%= f.label :date %> </br>   
    <%= f.text_field :date %> </br> </br>

    <%= f.submit  %> </br>
   
<% end %>